@font-face {
  font-family: 'Wes FY R3';
  src: url('../fonts/WesFY/Wes_FY_Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Wes FY R2';
  src: url('../fonts/WesFY/Wes_FY_Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Wes FY R';
  src: url('../fonts/WesFY/Wes_FY_Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Wes FY R5';
  src: url('../fonts/WesFY/Wes_FY_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Wes FY R4';
  src: url('../fonts/WesFY/Wes_FY_Thin.ttf') format('truetype');
}
