<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Course Setting</title>
        <link rel="stylesheet" href="../../static/css/app.css">
        <link rel="stylesheet" href="../../static/fonts/fontawesome/css/fontawesome-all.css">
    </head>
    <body>
        <header class="header">
          <img src="../../static/img/INIAD.png" alt="INIAD logo">
          <h1>Course Setting</h1>
          <p>DONOV Vesko <i class="fas fa-user-circle"></i></p>
        </header>

        <div class="wrapper features">
            <p>Name: <input type="text" name="course_name" placeholder="Current Course Name"></p>
            <p>Student list: </p>

            <div class="statistic">

                <div class="students">
                    <div class="student">
                        <p class="student-entry">Pichamon: </p>
                        <p class="student-entry">1F10170xxxx</p>
                        <p class="student-entry">Edit</p>
                    </div>
                    <div class="student">
                        <p class="student-entry">John: </p>
                        <p class="student-entry">1F10170xxxx</p>
                        <p class="student-entry">Edit</p>
                    </div>

                    <div class="student">
                        <p class="student-entry">Havana: </p>
                        <p class="student-entry">1F10170xxxx</p>
                        <p class="student-entry">Edit</p>
                    </div>
                </div>
            </div>

            <button type="button" name="add_student">Add Student</button>
        </div>
    </body>
</html>
