<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <link rel="stylesheet" href="../../static/css/app.css">
  <link rel="stylesheet" href="../../static/fonts/fontawesome/css/fontawesome-all.css">
  <title>Dashboard</title>
</head>

<body>
  <header class="header">
    <img src="../../static/img/INIAD.png" alt="INIAD logo">
    <h1>Dashboard</h1>
    <p>DONOV Vesko <i class="fas fa-user-circle"></i></p>
  </header>


  <div class="wrapper courses">
    <h2 class="page-title">Your Courses</h2>
    <p class="subtitle">Here you can manage your classes and take attendance</p>
    <p class="filter-by">Filter By: Most Students | Course Type | etc.</p>
    <div class="course extended">
      <h3>Japanese Basic Reading & Writing Exercise II</h3>
      <p>International Class I</p>
      <span class="detail course-id">1F10308001</span><br />
      <span class="detail"><i class="fas fa-graduation-cap"></i> 13 Students</span>
      <div class="buttons">
        <a href="#" class="begin-button"><span>Begin</span></a>
        <a href="#" class="icon-button"><span>History<i class="fas fa-history"></i></span></a>
        <a href="#" class="icon-button"><span>Settings<i class="fas fa-cogs"></i></span></a>
      </div>
    </div>
    <div class="course extended">
      <h3>Japanese Basic Listening & Speaking Exercise II</h3>
      <p>International Class I</p>
      <span class="detail course-id">1F10306001</span><br />
      <span class="detail"><i class="fas fa-graduation-cap"></i> 13 Students</span>
      <div class="buttons">
        <a href="#" class="begin-button"><span>Begin</span></a>
        <a href="#" class="icon-button"><span>History<i class="fas fa-history"></i></span></a>
        <a href="#" class="icon-button"><span>Settings<i class="fas fa-cogs"></i></span></a>
      </div>
    </div>
    <div class="course extended">
      <h3>Japanese Basic Reading & Writing Exercise II</h3>
      <p>International Class I</p>
      <span class="detail course-id">1F10308001</span><br />
      <span class="detail"><i class="fas fa-graduation-cap"></i> 13 Students</span>
      <div class="buttons">
        <a href="#" class="begin-button"><span>Begin</span></a>
        <a href="#" class="icon-button"><span>History<i class="fas fa-history"></i></span></a>
        <a href="#" class="icon-button"><span>Settings<i class="fas fa-cogs"></i></span></a>
      </div>
    </div>
    <div class="course extended">
      <h3>Japanese Basic Listening & Speaking Exercise II</h3>
      <p>International Class I</p>
      <span class="detail course-id">1F10306001</span><br />
      <span class="detail"><i class="fas fa-graduation-cap"></i> 13 Students</span>
      <div class="buttons">
        <a href="#" class="begin-button"><span>Begin</span></a>
        <a href="#" class="icon-button"><span>History<i class="fas fa-history"></i></span></a>
        <a href="#" class="icon-button"><span>Settings<i class="fas fa-cogs"></i></span></a>
      </div>
    </div>
  </div>
</body>

</html>
