<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>General History</title>
        <link rel="stylesheet" href="../../static/css/app.css">
        <link rel="stylesheet" href="../../static/fonts/fontawesome/css/fontawesome-all.css">
    </head>
    <body>
        <header class="header">
          <img src="../../static/img/INIAD.png" alt="INIAD logo">
          <h1>History</h1>
          <p>DONOV Vesko <i class="fas fa-user-circle"></i></p>
        </header>

        <div class="wrapper history_list">
            <button type="button" name="summary">Summary</button>
            <button type="button" name="sort">Sort</button>
            <br>
            <a href="#day1">Day: 23 November 2017</a>
            <br>
            <a href="#day2">Day: 22 November 2017</a>
            <br>
            <a href="#etc">Etc</a>
        </div>
    </body>
</html>
