<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Specific History</title>
        <link rel="stylesheet" href="../../static/css/app.css">
        <link rel="stylesheet" href="../../static/fonts/fontawesome/css/fontawesome-all.css">
    </head>
    <body>
        <header class="header">
          <img src="../../static/img/INIAD.png" alt="INIAD logo">
          <h1>History: Day 23th November</h1>
          <p>DONOV Vesko <i class="fas fa-user-circle"></i></p>
        </header>

        <div class="wrapper table">
            <span>Total: 23/45</span>
            <button type="button" name="sort">Sort</button>
            <br>
            <button type="button" name="edit">Edit</button>
            <br>
            <button type="button" name="save">Save is enable if Edit is enable</button>
            <br>

            <h3 class="page-title">Japanese Basic Reading & Writing Exercise</h3>

            <div class="statistic">
                <div class="legend">
                    <p class="legends-grid">Total: <span>23/45</span></p>
                    <p class="legends-grid">Countdown: <span>10:45</span></p>
                    <p class="legends-grid">Sort</p>
                </div>
                <div class="students">
                    <div class="student">
                        <p class="student-entry">Pichamon: </p>
                        <p class="student-entry">1F10170xxxx</p>
                        <p class="student-entry">Status: <span>On Time</span></p>
                    </div>
                    <div class="student">
                        <p class="student-entry">John: </p>
                        <p class="student-entry">1F10170xxxx</p>
                        <p class="student-entry">Status: <span>Absence</span></p>
                    </div>

                    <div class="student">
                        <p class="student-entry">Havana: </p>
                        <p class="student-entry">1F10170xxxx</p>
                        <p class="student-entry">Status: <span>Late</span></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
