<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/fonts/fontawesome/css/fontawesome-all.css">
    <title>Test</title>
  </head>
  <body>
      <header class="header">
        <img src="../../static/img/INIAD.png" alt="INIAD logo">
        <h1>Attendance Check</h1>
        <p>DONOV Vesko <i class="fas fa-user-circle"></i></p>
      </header>

    <a href="#" class="begin-button"><span>Begin</span></a>
    <a href="#" class="icon-button"><span>History<i class="fas fa-history"></i></span></a>
    <a href="#" class="icon-button"><span>Settings<i class="fas fa-cogs"></i></span></a>
    <h2 class="page-title">Your Courses</h2>
    <p class="subtitle">Here you can manage your classes and take attendance</p>
    <p>Filter By:   Most Students | Course Type | etc.</p>
  </body>
</html>
